body {
    margin-left: 22%;
    margin-right: 22%;
    font-size: 1.1vw;
    color: white;
    background-color: #222222;
    font-family: Roboto, sans-serif;
}

@media screen and (max-width: 1330px) {
    body {
        padding: 12px !important;
        margin: 12px !important;
        font-size: 2.2vw;
    }
}

a:link {
    color: aqua;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    color: violet;
}

h2 {
    color: red;
}

h3 {
    color: yellow;
}

/* move the #fragment urls down a bit from the top */
[id] {
    scroll-margin-top: 15px;
}
