body {
	margin-left: 22%;
	margin-right: 22%;
}

@media screen and (max-width: 1330px) {
	body {
		padding: 12px !important;
		margin: 12px !important;
		font-size: 22px; !important;
	}
}

body {
	color: white;
	background-color: #222222;
	font-family: Roboto, "Trebuchet MS", sans-serif;
}

a:link {
  color: aqua;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}